<%- include('../partials/header') %>

<section class="userInfo">
    <h2>Hi <%= user.name %> !</h2>
</section>


<a href="/profiles/new">click this </a>

<section class="progress">
    <% if (user.injuryProfile.length) { %>
    <h3>Rehab Progression</h3>
    <table>
        <thead>
            <tr>
            <th>Goal</th>
            <th>Injury</th>
            <th>Sessions Per Week</th>
            <th></th>
            <th></th>
            </tr>
        </thead>
        <tbody>
        <% user.injuryProfile.forEach((p) => { %>
            <tr>
                <td><%= p.goal %></td>
                <td><%= p.injury %></td>
                <td><%= p.trainingamount %></td>
                <td><button>E</button></td>
                <td><form 
                    action="/profiles/<%= p._id %>?_method=DELETE" 
                    method="POST">
                    <button type="submit">X</button>
                    </form>
                </td>
            </tr>
        </tbody>
    <% }) }%>
    
</section>

<section class="plan">
    <% if (exercise.length) { %>
        <h3> Exercise Bundle</h3>
        <table>
            <thead>
                <tr>
                <th>Exercise Name</th>
                <th>Sets</th>
                <th>Reps</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <% exercise.forEach((e) => { %>
                <tr>
                    <td><%= e.exName %></td>
                    <td><%= e.sets %></td>
                    <td><%= e.reps%></td>
                </tr>
                <div>See full details here</div>
            </tbody>
        </table>
    <% }) }%>
    
</section>

<section class="journal">
    <h3>Journal</h3>
    <% if (journal.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Training Session Number</th>
                    <th>Date</th>
                    <th>Session Review:</th>
                    <th>Session Rating:</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% journal.forEach((j)=> { %>
                <tr>
                    <td>Training session number Maybe this is log ? </td>
                    <td><%= j.createdAt.toLocaleDateString() %></td>
                    <td><%= j.content %></td>
                    <td><%= j.rating %></td>
                    <td><button>E</button></td>
                    <td><button>X</button></td>
                </tr>
            </tbody>
    <% }) } %>
</section>

<%- include('../partials/footer') %>