<%- include('../partials/header') %>
    <div class="userInfo">
        <br><br><h2 class="display-5">Hi <%= user.name %> !</h2>
    </div>
    <div>
        <% if (user.injuryProfile.length) { %>
        <h3>Recovery Goals</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Exercise Goal</th>
                    <th scope="col">Current Injury</th>
                    <th scope="col"> Training Sessions Per Week</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                <% user.injuryProfile.forEach((p) => { %>
                    <tr >
                        <td ><%= p.goal %></td>
                        <td ><%= p.injury %></td>
                        <td class="text-center"><%= p.trainingamount %></td>
                        <td ><a class="btn btn-warning" href="/profiles/<%=p._id %>/edit">Edit</a></td>
                        <td ><form 
                            action="/profiles/<%= p._id %>?_method=DELETE" 
                            method="POST">
                            <button class="btn btn-warning" type="submit">X</button>
                            </form>
                        </td >
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <% }  else { %>
            <h5>Your Goal section is empty</h5>
        <% } %> 
    </div>
    <a class="btn btn-warning" href="/profiles/new">Add New Goal </a>
<a href=""></a>
<%- include('../partials/footer') %>