<%- include('../partials/header') %>

<div>
    <br><h4 class="text-bg-warning p-3 mt-3 ">Edit Exercise</h4><br><br>
</div>

<div class="mb-4">
    <form action="/exercises/<%= exercise._id %>?_method=PUT" method="POST">
        <label class="form-label">Exercise Name:</label>
        <input  class="form-control"type="text" name="exName" value="<%= exercise.exName %>"><br>
    
        <label class="form-label">Description:</label>
        <textarea  class="form-control" name="description"><%= exercise.description %></textarea><br>
    
        <label class="form-label">Number of Sets:</label>
        <input  class="form-control" type="number" name="sets" min="1" max="10" value="<%= exercise.sets %>"><br>
    
        <label class="form-label">Number of Reps:</label>
        <input  class="form-control" type="number" name="reps" min="1" max="15" value="<%= exercise.reps %>"><br>
    
        <label class="form-label" >Video Link:</label>
        <input 
            class="form-control"
            type="url" name="video" id="url" 
            value="<%= exercise.video %>"
            pattern="https://.*"
        ><br>

        <button class="btn btn-warning fs-5" type="submit">Submit</button>
    </form>
</div>
<a class="btn btn-warning fs-5" href="/exercises">Back</a>


<%- include('../partials/footer') %>