<%- include('../partials/header') %>

<h2>Exercise Bundle</h2>

<div class="container text-center" >
  <div class="row row-cols-auto">
    <% if (exercises.length) { %>
      <% exercises.forEach(function(e) { %>
        <div class="col">
          <!-- User found youtube Links contain 'watch?=' which causes errors -->
          <!-- they need to be replaced with "embed/" -->
          <% e.video = e.video.toString().replace('watch?v=', 'embed/') %>
          <div class="row align-items-start">
            <div class="col">
              <div class="card text-bg-warning mb-3" style="width: 18.5rem;">
                <iframe width="300" height="215" src="<%= e.video %>" frameborder="0"  allowfullscreen></iframe>
                <div class="card-body">
                  <h4 class="card-title"><%= e.exName %></h4>
                  <p class="card-text"><%= e.description %></p>
                </div>

                <ul class="list-group list-group-flush -bg-warning ">
                  <li class="list-group-item">Sets: <%= e.sets %></li>
                  <li class="list-group-item">Reps: <%= e.reps %></li>
                </ul>

                <div class="card-body">
                  <a class="btn btn-dark" href="/exercises/<%= e._id %>">DETAILS</a>
                  <form 
                      action="/exercises/<%= e._id %>/?_method=DELETE" 
                      method="POST"><br>
                      <button class="btn btn-dark" type="submit">X</button>
                  </form>
                  <a class="btn btn-dark" href="/exercises/<%= e._id %>">SHARE</a>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      <% }); %>
    <% } else { %>
      <h5>Your Goal section is empty</h5>
    <% } %>
  </div>
  <br>
  <div>
    <a class="btn btn-warning" href="/exercises/new">Add New Exercise</a>
  </div>
</div>


<%- include('../partials/footer') %>