<%- include('../partials/header') %>

<section id="show-page">
    <div>Exercise Name: </div>
    <div><%= exercise.exName %></div>
    <div>Description: </div>
    <div><%= exercise.description %></div>
    <div>Number of Sets: </div>
    <div><%= exercise.sets %></div>

    <div>Number of Reps: </div>
    <div><%= exercise.reps %></div>
    <div>Exercise Video: </div>
    <div><%= exercise.video %></div>
    
</section>







<%- include('../partials/footer') %>