<%- include('../partials/header') %>

<br><h2 class="text-bg-warning p-3"> Exercise Details</h2><br><br>
<table class="table table-striped-columns">
    <tbody>
        <tr>
            <th scope="row">Exercise Name:</th>
            <td><%= exercise.exName %></td>
        </tr>
        <tr>
            <th scope="row">Description:</th>
            <td><%= exercise.description %></td>
        </tr>
        <tr>
              <th scope="row">Number of Sets:</th>
              <td><%= exercise.sets %></td>
        
        </tr>
        <tr>
              <th scope="row">Number of Reps:</th>
              <td><%= exercise.reps %></td>
            
        </tr>
        <tr>
              <th scope="row">Exercise Video:</th>
              <td><%= exercise.video %></td>
        </tr>

    </tbody>
</table>

    <div >
        <a  class="btn btn-warning"  href="/exercises/<%= exercise._id %>/edit">Edit Exercise</a>
        <a class="btn btn-warning"  href="/exercises">Exercise List</a>
    </div>


<%- include('../partials/footer') %>